* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.App.connector-mode .Arrow circle {
	pointer-events: none;
}

.App .Arrow circle {
	cursor: pointer;
	pointer-events: all;
}

.App .Sticky .snapping-point {
	pointer-events: none;
}

.App.connector-mode .Sticky .snapping-point {
	pointer-events: all;
}

.App.connector-mode .Sticky:hover .snapping-point ~ .auto-affordance {
  visibility: visible;
}

.App.connector-mode .Sticky .snapping-point:hover ~ .auto-affordance {
  visibility: hidden;
}